<footer class="custom-footer mt-5 py-4 text-center">
  <div class="container">
    <p class="mb-1 text-light">
      &copy; <%= new Date().getFullYear() %> Studify. All rights reserved.
    </p>
    <p class="small text-light">
      Built By Tayyab Shahjahan, using Node.js, Express, and EJS
    </p>
  </div>
</footer>
